In [3]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.preprocessing import StandardScaler

from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score

### Salary Dataset

In [4]:
data_train = pd.read_csv("/content/SalaryData_Train.csv")

In [5]:
data_test = pd.read_csv("/content/SalaryData_Test.csv")

In [6]:
data_train

       age          workclass  ...          native  Salary
0       39          State-gov  ...   United-States   <=50K
1       50   Self-emp-not-inc  ...   United-States   <=50K
2       38            Private  ...   United-States   <=50K
3       53            Private  ...   United-States   <=50K
4       28            Private  ...            Cuba   <=50K
...    ...                ...  ...             ...     ...
30156   27            Private  ...   United-States   <=50K
30157   40            Private  ...   United-States    >50K
30158   58            Private  ...   United-States   <=50K
30159   22            Private  ...   United-States   <=50K
30160   52       Self-emp-inc  ...   United-States    >50K

[30161 rows x 14 columns]

In [7]:
data_test

       age      workclass      education  ...  hoursperweek          native  Salary
0       25        Private           11th  ...            40   United-States   <=50K
1       38        Private        HS-grad  ...            50   United-States   <=50K
2       28      Local-gov     Assoc-acdm  ...            40   United-States    >50K
3       44        Private   Some-college  ...            40   United-States    >50K
4       34        Private           10th  ...            30   United-States   <=50K
...    ...            ...            ...  ...           ...             ...     ...
15055   33        Private      Bachelors  ...            40   United-States   <=50K
15056   39        Private      Bachelors  ...            36   United-States   <=50K
15057   38        Private      Bachelors  ...            50   United-States   <=50K
15058   44        Private      Bachelors  ...            40   United-States   <=50K
15059   35   Self-emp-inc      Bachelors  ...            60   United-States    >50K

[15060 rows x 14 columns]

In [8]:
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing

In [9]:
string_columns = ["workclass","education","maritalstatus","occupation","relationship","race","sex","native","Salary"]   
for x in string_columns:
    data_test[x] = data_test[x].astype(str)
    
for i in string_columns:
    number = preprocessing.LabelEncoder()
    data_test[i] = number.fit_transform(data_test[i])

In [10]:
string_columns = ["workclass","education","maritalstatus","occupation","relationship","race","sex","native","Salary"]   
for x in string_columns:
    data_train [x] = data_train[x].astype(str)
    
for i in string_columns:
    number = preprocessing.LabelEncoder()
    data_train[i] = number.fit_transform(data_train[i])

In [11]:
array1 = data_train.values
X1 = array1[0:1500, 0:13]
Y1 = array1[0:1500, 13]

array2 = data_test.values
X2 = array2[:, 0:13]
Y2 = array2[:, 13]

In [12]:
clf = SVC()
param_grid = [{'kernel':['rbf'],'gamma':[50,5,10,0.5],'C':[15,14,13,12,11,10,0.1,0.001] }]
gsv = GridSearchCV(clf,param_grid,cv=10)
gsv.fit(X1,Y1)

GridSearchCV(cv=10, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'C': [15, 14, 13, 12, 11, 10, 0.1, 0.001],
                          'gamma': [50, 5, 10, 0.5], 'kernel': ['rbf']}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [13]:
gsv.best_params_ , gsv.best_score_

({'C': 15, 'gamma': 50, 'kernel': 'rbf'}, 0.7486666666666666)

In [14]:
clf = SVC()
param_grid = [{'kernel':['rbf'],'gamma':[50,48,47,51,52],'C':[15,16,17,18] }]
gsv = GridSearchCV(clf,param_grid,cv=10)
gsv.fit(X1,Y1)

GridSearchCV(cv=10, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'C': [15, 16, 17, 18], 'gamma': [50, 48, 47, 51, 52],
                          'kernel': ['rbf']}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [15]:
gsv.best_params_ , gsv.best_score_

({'C': 15, 'gamma': 50, 'kernel': 'rbf'}, 0.7486666666666666)

In [18]:
array3 = data_train.values
X3 = array1[:, 0:13]
Y3 = array1[:, 13]

In [19]:
clf = SVC(C= 15, gamma = 50)
clf.fit(X3 , Y3)
y_pred = clf.predict(X2)
acc = accuracy_score(Y2, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix(Y2, y_pred)

Accuracy = 97.50339842843407

array([[22528,   125],
       [  628,  6880]])

### Forest fires Dataset

In [20]:
Data = pd.read_csv("/content/forestfires.csv")

In [21]:
Data

    month  day  FFMC    DMC  ...  monthnov  monthoct  monthsep  size_category
0     mar  fri  86.2   26.2  ...         0         0         0          small
1     oct  tue  90.6   35.4  ...         0         1         0          small
2     oct  sat  90.6   43.7  ...         0         1         0          small
3     mar  fri  91.7   33.3  ...         0         0         0          small
4     mar  sun  89.3   51.3  ...         0         0         0          small
..    ...  ...   ...    ...  ...       ...       ...       ...            ...
512   aug  sun  81.6   56.7  ...         0         0         0          large
513   aug  sun  81.6   56.7  ...         0         0         0          large
514   aug  sun  81.6   56.7  ...         0         0         0          large
515   aug  sat  94.4  146.0  ...         0         0         0          small
516   nov  tue  79.5    3.0  ...         1         0         0          small

[517 rows x 31 columns]

In [22]:
string_columns = ["month","day","size_category"]   

for x in string_columns:
    Data[x] = Data[x].astype(str)
    
for i in string_columns:
    number = preprocessing.LabelEncoder()
    Data[i] = number.fit_transform(Data[i])

In [23]:
Data

     month  day  FFMC    DMC  ...  monthnov  monthoct  monthsep  size_category
0        7    0  86.2   26.2  ...         0         0         0              1
1       10    5  90.6   35.4  ...         0         1         0              1
2       10    2  90.6   43.7  ...         0         1         0              1
3        7    0  91.7   33.3  ...         0         0         0              1
4        7    3  89.3   51.3  ...         0         0         0              1
..     ...  ...   ...    ...  ...       ...       ...       ...            ...
512      1    3  81.6   56.7  ...         0         0         0              0
513      1    3  81.6   56.7  ...         0         0         0              0
514      1    3  81.6   56.7  ...         0         0         0              0
515      1    2  94.4  146.0  ...         0         0         0              1
516      9    5  79.5    3.0  ...         1         0         0              1

[517 rows x 31 columns]

In [24]:
array = Data.values
X = array[:,0:19]
Y = array[:,19]

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.3)

In [26]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((361, 19), (361,), (156, 19), (156,))

In [27]:
clf = SVC()
param_grid = [{'kernel':['rbf'],'gamma':[50,5,10,0.5],'C':[15,14,13,12,11,10,0.1,0.001] }]
gsv = GridSearchCV(clf,param_grid,cv=10)
gsv.fit(X_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'C': [15, 14, 13, 12, 11, 10, 0.1, 0.001],
                          'gamma': [50, 5, 10, 0.5], 'kernel': ['rbf']}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [28]:
gsv.best_params_ , gsv.best_score_

({'C': 15, 'gamma': 0.5, 'kernel': 'rbf'}, 0.6566066066066065)

In [29]:
clf = SVC()
param_grid = [{'kernel':['rbf'],'gamma':[0.0001,0.1,0.00001],'C':[15,16,17,18] }]
gsv = GridSearchCV(clf,param_grid,cv=10)
gsv.fit(X_train,y_train)

GridSearchCV(cv=10, error_score=nan,
             estimator=SVC(C=1.0, break_ties=False, cache_size=200,
                           class_weight=None, coef0=0.0,
                           decision_function_shape='ovr', degree=3,
                           gamma='scale', kernel='rbf', max_iter=-1,
                           probability=False, random_state=None, shrinking=True,
                           tol=0.001, verbose=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'C': [15, 16, 17, 18], 'gamma': [0.0001, 0.1, 1e-05],
                          'kernel': ['rbf']}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [30]:
gsv.best_params_ , gsv.best_score_

({'C': 15, 'gamma': 0.0001, 'kernel': 'rbf'}, 0.9834084084084085)

In [31]:
clf = SVC(C= 15, gamma = 0.0001)
clf.fit(X_train , y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(y_test, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix(y_test, y_pred)

Accuracy = 98.07692307692307

array([[106,   2],
       [  1,  47]])